<body id="home">
<div>
    <form action="/artist-search">
        <label for="artist">Search for an artist:</label>
        <br>
        <input type="text" name="artist">
        <br>
        <button>Search</button>
    </form>
</div>
</body>
