<div>
    <h2>Title</h2>
    <h2>Listen</h2>
</div>
{{#each tracks}}
<figure>
    <figcaption>Listen to the {{this.name}} </figcaption>
    <audio
        controls
        src="{{this.preview_url}}">
    </audio>
</figure>
{{/each}}
